h1
{
   text-align: center;
  
    color:gold;

}
h2
{
   text-align: center;
  
    color:gold;

}
h3
{
    color:azure;
}

 label
 {
     color:white;
 }

 .buttons

{
    display:flex;
    justify-content:space-between;
   
}


#ng

{
   text-align: center;
   color:white;
}


#viewexp
{
    text-align: center;
}